.name-finder-section-name-finder-section {
  position: relative;
}
 
.name-finder-section-fragment10 {
  display: contents;
}
 
.name-finder-section-text16 {
  display: inline-block;
}
 
.name-finder-section-fragment11 {
  display: contents;
}
 
.name-finder-section-text17 {
  display: inline-block;
}
 
.name-finder-section-fragment12 {
  display: contents;
}
 
.name-finder-section-text18 {
  display: inline-block;
}
 
.name-finder-section-fragment13 {
  display: contents;
}
 
.name-finder-section-text19 {
  display: inline-block;
}
 
.name-finder-section-fragment14 {
  display: contents;
}
 
.name-finder-section-text20 {
  display: inline-block;
}
 
.name-finder-section-fragment15 {
  display: contents;
}
 
.name-finder-section-text21 {
  display: inline-block;
}
 
.name-finder-section-fragment16 {
  display: contents;
}
 
.name-finder-section-text22 {
  display: inline-block;
}
 
.name-finder-section-fragment17 {
  display: contents;
}
 
.name-finder-section-text23 {
  display: inline-block;
}
 
.name-finder-section-fragment18 {
  display: contents;
}
 
.name-finder-section-text24 {
  display: inline-block;
}
 
.name-finder-section-fragment19 {
  display: contents;
}
 
.name-finder-section-text25 {
  display: inline-block;
}
 
.name-finder-section-fragment20 {
  display: contents;
}
 
.name-finder-section-text26 {
  display: inline-block;
}
 
.name-finder-section-fragment21 {
  display: contents;
}
 
.name-finder-section-text27 {
  display: inline-block;
}
 
.name-finder-section-fragment22 {
  display: contents;
}
 
.name-finder-section-text28 {
  display: inline-block;
}
 
.name-finder-section-fragment23 {
  display: contents;
}
 
.name-finder-section-text29 {
  display: inline-block;
}
 
.name-finder-section-fragment24 {
  display: contents;
}
 
.name-finder-section-text30 {
  display: inline-block;
}
 
.name-finder-section-fragment25 {
  display: contents;
}
 
.name-finder-section-text31 {
  display: inline-block;
}
 
.name-finder-section-fragment26 {
  display: contents;
}
 
.name-finder-section-text32 {
  display: inline-block;
}
 
.name-finder-section-fragment27 {
  display: contents;
}
 
.name-finder-section-text33 {
  display: inline-block;
}
 
.name-finder-section-fragment28 {
  display: contents;
}
 
.name-finder-section-text34 {
  display: inline-block;
}
 
.name-finder-section-fragment29 {
  display: contents;
}
 
.name-finder-section-learns-text2 {
  display: inline-block;
}
 
.name-finder-section-fragment30 {
  display: contents;
}
 
.name-finder-section-text36 {
  display: inline-block;
}
 
.name-finder-section-fragment31 {
  display: contents;
}
 
.name-finder-section-text37 {
  display: inline-block;
}
 
.name-finder-section-fragment32 {
  display: contents;
}
 
.name-finder-section-text38 {
  display: inline-block;
}
 
.name-finder-section-fragment33 {
  display: contents;
}
 
.name-finder-section-text39 {
  display: inline-block;
}
 
.name-finder-section-fragment34 {
  display: contents;
}
 
.name-finder-section-text40 {
  display: inline-block;
}
 
.name-finder-section-fragment35 {
  display: contents;
}
 
.name-finder-section-text41 {
  display: inline-block;
}
 
.name-finder-section-fragment36 {
  display: contents;
}
 
.name-finder-section-text42 {
  display: inline-block;
}
